


.container {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background: #3c424a;
  min-height: 500px;
}



.App {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}



form {
  height: 40px;
}

input,
button {
  border: none;
  outline: none;
  height: 100%;
}

input {
  width: 60%;
  padding: 0 1px;
  background: #343a40;
  color: white;
  border: 1px solid #33383e;
}

input::placeholder {
  color: #696f77;
}

button {
  width: 20%;
  background: red;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid #3c424a;
  cursor: pointer;
  
}

button:hover {
  background: #cc4b76;
}

/* Todo Styles */

.Todo {
  margin: 12px 0 0 0;
  width: 70%;

  background: #343a40;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

i {
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 764px) {
  .App {
    padding: 20px;
    align-items: center;
  }
}
